################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/head_scan/FileContentIndex
/.vs/head_scan/v17
